@charset "UTF-8";

/*

em HTML é id    = em CSS é #
em HTML é class = em CSS é .

*/

body {
    background-color: rgba(78, 251, 59, 0.584);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: green;
}

h1#principal {
    text-align: center;''
    color: white;
}

h2 {
    color: rgb(18, 41, 18);
}

.basico {
    color: rgb(2, 88, 2);
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: #727225c5;
}